/* Color schema 
#f9eee2 Linen
#ffbdff Pink
#005fff Blue
#ffff00 Yellow
#ff5b00 Orange
#8b4100 Brown */

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background: #f9eee2;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
