.head-homepage {
}
.slogan-homepage {
  text-align: center;
  font-size: 3.5rem;
  padding-top: 1.5rem;
  color: #ff5b00;
  font-family: "Unbounded";
  font-weight: 900;
}

.about-homepage {
  width: 830px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  color: #8b4100;
}

.random-pets-wrapper {
  position: relative;
  margin-top: 16px;
  margin-bottom: 1rem;
}

.dog-homepage {
  margin: auto;
}

.random-pets {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  position: relative;
}

.overlay-layer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 432px;
  background-color: #833d00;
  z-index: 2;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.in {
  animation-name: slide-in;
}

.out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.overlay-layer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.search-by-animal-wrapper img {
  padding: 26px;
  width: 45%;
}

#sad-dog {
  position: relative;
  float: right;
  transition: opacity 0.5s ease-in-out;
}

#sad-cat {
  position: relative;
  transition: opacity 0.5s ease-in-out;
}

#happy-cat {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#happy-dog {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.search-splitter {
  width: 100%;
  background-color: #ffff00;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.search-splitter span {
  color: #005fff;
  font-size: 2rem;
  padding: 0.5rem 0;
  font-family: "Unbounded";
  font-weight: 900;
  width: 50%;
  text-align: center;
}

.arrows-home-page-cat,
.arrows-home-page-dog {
  opacity: 0;
}

.search-splitter:hover {
  cursor: pointer;
}

.search-splitter-cat:hover .arrows-home-page-cat,
.search-splitter-dog:hover .arrows-home-page-dog {
  opacity: 1;
}
