.search-page {
  padding: 3rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 20px;
}

.searchBar {
  display: flex;
  flex-direction: column;
}

.searchBar > * {
  margin-bottom: 20px;
}

.filtred-pets {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.searchBar > p {
  margin-bottom: 5px;
}
